@import url("https://fonts.googleapis.com/css2?family=Style+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&family=Style+Script&display=swap");

:root {
  --h1-color: rgba(25, 25, 255, 0.6);
  --p-color-text: rgba(0, 0, 0, 0.9);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Roboto Mono", Times, serif;
  font-size: 10px;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

section {
  padding: 10rem 0;
}

header {
  width: 100%;
  height: 2rem;
  position: absolute;
  z-index: 1;
}

/* nav styling */
.container {
  width: 100%;
  max-width: 98rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}

nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
  border-bottom: 1px solid cornflowerblue;
}

.logo-container {
  width: 20rem;
}

.menu-icons ion-icon {
  font-size: 4rem;
  color: brown;
  cursor: pointer;
}

.closed ion-icon {
  position: absolute;
  top: 1rem;
  left: 1.5rem;
  color: chartreuse;
}

.menu-list {
  width: 25rem;
  height: 100vh;
  background-color: lightslategray;
  position: fixed;
  top: 0;
  right: -27rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-transform: uppercase;
  transition: all 300ms ease-in-out;
  z-index: 2;
}

.menu-option {
  margin: 2rem 0;
  position: relative;
}
.menu-option > a {
  font-size: 2.5rem;
  color: ivory;
}

.active {
  right: 0;
}

/* Introduction section place to make choices */
.introduction {
  width: 100%;
  height: 90vh;
  background: linear-gradient(
      120deg,
      rgba(235, 114, 114, 0.5) 0%,
      rgba(235, 110, 30, 0.1) 100%
    ),
    url("images/background.jpg") center no-repeat;
  background-size: cover;
  position: relative;
}

.introduction::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  height: 5em;
  width: 100%;
  background: url("images/wave-small.png") center no-repeat;
  background-size: cover;
}

.message {
  position: inherit;
  max-width: 50rem;
  margin: 0 auto;
  margin: 2rem;
  color: var(--h1-color);
}

.message h1 {
  font-family: "Style Script";
  font-size: 4rem;
  font-style: italic;
}

.message p {
  font-family: "Roboto Mono";
  font-size: 2rem;
  font-weight: 700;
  color: var(--p-color-text);
}

/* btn is a link we add a nice hover and border radio to it  */

.cta {
  padding: 3rem 0;
}
.btn {
  padding: 1rem 2rem;
  background-color: var(--h1-color);
  color: bisque;
  text-transform: uppercase;
  border-radius: 3rem;
  transition: background 1s ease-out;
  font: 1.6rem "Roboto Mono";
}

.btn:hover {
  background-color: var(--p-color-text);
  border-radius: 3rem;
}

/* products section */
.title-heading {
  text-align: center;
  padding: 0 0 5rem 0;
}
.title-heading h1 {
  font-family: "Style Script";
  font-size: 4rem;
  color: var(--h1-color);
}

.products-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 2.5rem;
}

.products-grid-item {
  height: 40rem;
  padding: 5rem;
  color: bisque;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  z-index: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.products-grid-item h1 {
  font-family: "Style Script";
  font-size: 3rem;
  text-align: center;
  color: aquamarine;
}

.products-grid-item p {
  font-size: 1.2rem;
  text-align: center;
  color: aquamarine;
  color: white;
  font-weight: 800;
}

.products-grid-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    120deg,
    rgba(200, 110, 114, 0.4) 0%,
    rgba(235, 114, 114, 0.1) 100%
  );
  z-index: -1;
}
.instant-camera {
  background-image: url("images/instant-camera.jpg");
}

.hand-camera {
  background-image: url("images/hand-camera.jpg");
}

.cannon {
  background-image: url("images/cannon.jpg");
}

.lense {
  background-image: url("images/lense.jpg");
}

.location {
  width: 100%;
  height: 40vh;
  background: linear-gradient(
      120deg,
      rgba(235, 114, 114, 0.5) 0%,
      rgba(235, 110, 30, 0.1) 100%
    ),
    url("images/location-store.jpg") center no-repeat fixed;
  background-size: cover;
  position: relative;
}

.location-heading p {
  color: white;
  font-weight: 400;
}

footer {
  background-color: var(--h1-color);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  text-align: center;
  color: white;
}

/* Media queries */
@media screen and (min-width: 350px) {
  .message {
    transform: translateY(10%);
  }
}

@media screen and (min-width: 470px) {
  .introduction::before {
    height: 9.4rem;
    background: url("images/wave-medium.png");
    background-size: cover;
  }
}

@media screen and (min-width: 820px) {
  header {
    height: 8rem;
  }
  .logo-container {
    width: 25rem;
  }
  .menu-list {
    height: initial;
    position: initial;
    background-color: transparent;
    top: initial;
    right: initial;
    width: initial;
    flex-direction: row;
    transition: initial;
  }
  .menu-icons {
    display: none;
  }

  .menu-option > a {
    padding: 1rem 2rem;
    position: relative;
    margin: 0 1rem;
    letter-spacing: 0.2rem;
    border-radius: 2rem;
    font-size: 1.5rem;
    transition: background 1s ease-out, color 1s ease-out;
  }

  .menu-option > a:hover {
    background: rgba(98, 62, 255, 0.493);
    border-radius: 2rem;
    color: black;
  }
  .sub-menu-options {
    top: 2.2em;
    position: absolute;
    left: 1em;
    border-radius: 1.2rem;
    text-align: center;
    font-size: 1.2em;
    background-color: seashell;
    display: none;
    width: 80%;
  }
  .sub-menu-options li {
    padding: 1rem;
  }

  .menu-option:focus,
  .menu-option:hover .sub-menu-options {
    display: block;
  }

  .products-grid {
    grid-template-columns: repeat(2, minmax(25rem, 1fr));
  }
}
@media screen and (min-width: 950px) {
  .introduction {
    height: 90vh;
  }
  .introduction::before {
    height: 22.7rem;
    background: url("images/wave-large.png");
    background-size: cover;
  }
}

@media screen and (min-width: 1200px) {
  .introduction {
    height: 90vh;
  }
}
